aiofiles==24.1.0 ; python_version == "3.12"
aiohappyeyeballs==2.6.1 ; python_version == "3.12"
aiohttp==3.11.18 ; python_version == "3.12"
aiosignal==1.3.2 ; python_version == "3.12"
annotated-types==0.7.0 ; python_version == "3.12"
anyio==4.9.0 ; python_version == "3.12"
attrs==25.3.0 ; python_version == "3.12"
backoff==2.2.1 ; python_version == "3.12"
bcrypt==4.3.0 ; python_version == "3.12"
beautifulsoup4==4.13.4 ; python_version == "3.12"
blinker==1.9.0 ; python_version == "3.12"
certifi==2025.4.26 ; python_version == "3.12"
cffi==1.17.1 ; python_version == "3.12"
chardet==5.2.0 ; python_version == "3.12"
charset-normalizer==3.4.2 ; python_version == "3.12"
click==8.1.8 ; python_version == "3.12"
colorama==0.4.6 ; python_version == "3.12" and platform_system == "Windows"
cryptography==44.0.3 ; python_version == "3.12"
dataclasses-json==0.6.7 ; python_version == "3.12"
distro==1.9.0 ; python_version == "3.12"
dlib==19.24.8 ; python_version == "3.12"
dnspython==2.7.0 ; python_version == "3.12"
emoji==2.14.1 ; python_version == "3.12"
eval-type-backport==0.2.2 ; python_version == "3.12"
face-recognition-models @ git+https://github.com/ageitgey/face_recognition_models@e67de717267507d1e9246de95692eb8be736ab61 ; python_version == "3.12"
face-recognition==1.3.0 ; python_version == "3.12"
filetype==1.2.0 ; python_version == "3.12"
flask-cors==5.0.1 ; python_version == "3.12"
flask-jwt-extended==4.7.1 ; python_version == "3.12"
flask==3.1.0 ; python_version == "3.12"
frozenlist==1.6.0 ; python_version == "3.12"
greenlet==3.2.1 ; python_version == "3.12"
h11==0.16.0 ; python_version == "3.12"
html5lib==1.1 ; python_version == "3.12"
httpcore==1.0.9 ; python_version == "3.12"
httpx-sse==0.4.0 ; python_version == "3.12"
httpx==0.28.1 ; python_version == "3.12"
idna==3.10 ; python_version == "3.12"
itsdangerous==2.2.0 ; python_version == "3.12"
jinja2==3.1.6 ; python_version == "3.12"
jiter==0.9.0 ; python_version == "3.12"
joblib==1.5.0 ; python_version == "3.12"
jsonpatch==1.33 ; python_version == "3.12"
jsonpointer==3.0.0 ; python_version == "3.12"
langchain-community==0.3.23 ; python_version == "3.12"
langchain-core==0.3.58 ; python_version == "3.12"
langchain-openai==0.3.16 ; python_version == "3.12"
langchain-text-splitters==0.3.8 ; python_version == "3.12"
langchain==0.3.25 ; python_version == "3.12"
langdetect==1.0.9 ; python_version == "3.12"
langsmith==0.3.42 ; python_version == "3.12"
lxml==5.4.0 ; python_version == "3.12"
markupsafe==3.0.2 ; python_version == "3.12"
marshmallow==3.26.1 ; python_version == "3.12"
multidict==6.4.3 ; python_version == "3.12"
mypy-extensions==1.1.0 ; python_version == "3.12"
nest-asyncio==1.6.0 ; python_version == "3.12"
nltk==3.9.1 ; python_version == "3.12"
numpy==2.2.5 ; python_version == "3.12"
olefile==0.47 ; python_version == "3.12"
openai==1.77.0 ; python_version == "3.12"
opencv-python==4.11.0.86 ; python_version == "3.12"
orjson==3.10.18 ; python_version == "3.12" and platform_python_implementation != "PyPy"
outcome==1.3.0.post0 ; python_version == "3.12"
packaging==24.2 ; python_version == "3.12"
pillow==11.2.1 ; python_version == "3.12"
playwright==1.52.0 ; python_version == "3.12"
propcache==0.3.1 ; python_version == "3.12"
psutil==7.0.0 ; python_version == "3.12"
pycparser==2.22 ; python_version == "3.12"
pydantic-core==2.33.2 ; python_version == "3.12"
pydantic-settings==2.9.1 ; python_version == "3.12"
pydantic==2.11.4 ; python_version == "3.12"
pyee==13.0.0 ; python_version == "3.12"
pyjwt==2.10.1 ; python_version == "3.12"
pymongo==4.12.1 ; python_version == "3.12"
pypdf==5.4.0 ; python_version == "3.12"
pysocks==1.7.1 ; python_version == "3.12"
python-dotenv==1.1.0 ; python_version == "3.12"
python-iso639==2025.2.18 ; python_version == "3.12"
python-magic==0.4.27 ; python_version == "3.12"
python-oxmsg==0.0.2 ; python_version == "3.12"
pyyaml==6.0.2 ; python_version == "3.12"
rapidfuzz==3.13.0 ; python_version == "3.12"
regex==2024.11.6 ; python_version == "3.12"
requests-toolbelt==1.0.0 ; python_version == "3.12"
requests==2.32.3 ; python_version == "3.12"
selenium==4.32.0 ; python_version == "3.12"
setuptools==80.3.1 ; python_version == "3.12"
six==1.17.0 ; python_version == "3.12"
sniffio==1.3.1 ; python_version == "3.12"
sortedcontainers==2.4.0 ; python_version == "3.12"
soupsieve==2.7 ; python_version == "3.12"
sqlalchemy==2.0.40 ; python_version == "3.12"
tenacity==9.1.2 ; python_version == "3.12"
tiktoken==0.9.0 ; python_version == "3.12"
tqdm==4.67.1 ; python_version == "3.12"
trio-websocket==0.12.2 ; python_version == "3.12"
trio==0.30.0 ; python_version == "3.12"
typing-extensions==4.13.2 ; python_version == "3.12"
typing-inspect==0.9.0 ; python_version == "3.12"
typing-inspection==0.4.0 ; python_version == "3.12"
unstructured-client==0.34.0 ; python_version == "3.12"
unstructured==0.17.2 ; python_version == "3.12"
urllib3==2.4.0 ; python_version == "3.12"
webencodings==0.5.1 ; python_version == "3.12"
websocket-client==1.8.0 ; python_version == "3.12"
werkzeug==3.1.3 ; python_version == "3.12"
wrapt==1.17.2 ; python_version == "3.12"
wsproto==1.2.0 ; python_version == "3.12"
yarl==1.20.0 ; python_version == "3.12"
zstandard==0.23.0 ; python_version == "3.12"
